body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #E5E5E5;
    ;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.scroll-bottom {
    overflow-y: auto;
}